html {
  scroll-behavior: smooth;
}

/* Title word animation */
.title-word {
  animation: color-animation 4s linear infinite;
}

/* Applying colors */
#title-word1 {
  --color-1: #94582a;
  --color-2: #3d8dae;
  --color-3: #e4a9a8;
}

#title-word2 {
  --color-1: #dbad4a;
  --color-2: #accfcb;
  --color-3: #17494d;
}

#title-word3 {
  --color-1: #accfcb;
  --color-2: #e4a9a8;
  --color-3: #accfcb;
}

#title-word4 {
  --color-1: #3d8dae;
  --color-2: #94582a;
  --color-3: #e4a9a8;
}

#title-word5 {
  --color-1: #94582a;
  --color-2: #3d8dae;
  --color-3: #e4a9a8;
}

#title-word6 {
  --color-1: #dbad4a;
  --color-2: #accfcb;
  --color-3: #17494d;
}

#title-word7 {
  --color-1: #accfcb;
  --color-2: #e4a9a8;
  --color-3: #accfcb;
}

#title-word8 {
  --color-1: #3d8dae;
  --color-2: #94582a;
  --color-3: #e4a9a8;
}

/* Applying key framse */
@keyframes color-animation {
  0% {
    color: var(--color-1);
  }

  32% {
    color: var(--color-1);
  }

  33% {
    color: var(--color-2);
  }

  65% {
    color: var(--color-2);
  }

  66% {
    color: var(--color-3);
  }

  99% {
    color: var(--color-3);
  }

  100% {
    color: var(--color-1);
  }
}

/* Applying typing out animation on paragraph */
.typed-out {
  overflow: hidden;
  border-right: 0.15em solid black;
  white-space: nowrap;
  animation: typing 2s steps(40) forwards,
    /* Typing animation */ blink 0.5s step-end infinite;
  /* Cursor blink */

  font-size: 1.6rem;
  width: 0;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }

  50% {
    border-color: black;
  }
}

body {
  font-family: "Montserrat";
  overflow-x: hidden;
}

#title {
  background-color: #ca965c;
  color: #fff;
  min-height: 100vh;
  max-height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bolder;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
  text-shadow: 2px 2px gray;
}

h3 {
  font-family: "Montserrat";
  font-weight: 800;
}

hr {
  background-color: black;
  height: 1px;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 5% 3%;
}

/*Navbar */
.title-image {
  opacity: 1;
  max-width: 100%;
  height: auto;
}

.navbar {
  padding: 0 2rem 5rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:2rem
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  font-size: 20px;
  padding: 0;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar-toggler-icon {
  width: 3em;
  height: 3em;
}

.nav-item {
  padding: 0 2%;
  text-align: left;

  font-size: 20vw;
  font-weight: 800;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255);
  cursor: pointer;
}

.nav-link {
  transition: 0.3s ease;
  font-size: 1.5rem;
  font-family: "Montserrat";
  font-weight: lighter;
}

.nav-link:hover {
  scale: 1.2;
  background-color: #7c4b21d1;
  border-radius: 10px;
  color: white;
}

#col {
  color: #7c4b21d1;
}

#col:hover {
  color: white;
  text-decoration: underline;
}

/*Buttons*/
.download-button {
  margin: 5% 3% 5% 0;
}

#but,
#but1 {
  transition: 0.2s ease-out;
}

:is(#but, #but1):hover {
  transform: scale(1.1);
}

/*Title image*/
.title-image {
  width: 90%;
  position: absolute;
  left: 20%;
}

/*Features*/
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 300px;
  /* Set a fixed height for all feature cards */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 1rem;
}

.feature-card:hover {
  transform: scale(1.05);
  /* Scale up the card on hover */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  /* Add a more pronounced shadow on hover */
}

.icon:hover {
  color: #ff4c68;
  transform: scale(1.1);
}

.feature-box {
  text-align: center;
  padding: 2%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
}

/*testimonials*/
#testimonials {
  text-align: center;
  align-items: center;
  background-color: #876445;
  color: #fff;
}

#testimonials h2 {
  margin-bottom: -50px !important;
  padding-top: 22px;
}

.carousel-item {
  padding: 4% 4%;
}

.testimonial-image {
  width: 70rem;
  height: 33rem;
  align-items: center;
  margin: 20px;
}

/* Style for the carousel control buttons */
.carousel-control-prev {
  width: 50px;
  /* Adjust the width as needed */
  height: 50px;
  /* Adjust the height as needed */
  background-color: #ef8172;
  /* Background color for the buttons */
  border: none;
  /* Remove borders */
  border-radius: 50%;
  /* Make them round */
  opacity: 0.8;
  /* Set initial opacity */
  transition: background-color 0.3s, opacity 0.3s;
  /* Add transitions for hover effect */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  margin-left: 50px;
}

.carousel-control-next {
  width: 50px;
  /* Adjust the width as needed */
  height: 50px;
  /* Adjust the height as needed */
  background-color: #ef8172;
  /* Background color for the buttons */
  border: none;
  /* Remove borders */
  border-radius: 50%;
  /* Make them round */
  opacity: 0.8;
  /* Set initial opacity */
  transition: background-color 0.3s, opacity 0.3s;
  /* Add transitions for hover effect */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  margin-right: 50px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #f03c57;
  /* Change background color on hover */
  opacity: 1;
  /* Make them fully opaque on hover */
}

/* Style for the icon inside the buttons */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: transparent;
  /* Remove default icon background color */
  color: #f03c57;
  /* Icon color */
  font-size: 24px;
  /* Adjust the icon size */
  line-height: 50px;
  /* Vertically center the icon */
}

/* Adjust the position of the icons for "Next" and "Previous" */
.carousel-control-prev-icon {
  margin-left: -3px;
  /* Adjust the horizontal position for "Previous" */
}

.carousel-control-next-icon {
  margin-right: -3px;
  /* Adjust the horizontal position for "Next" */
}

#press {
  background-color: #fff;
  text-align: center;
  padding-bottom: 2%;
}

#press {
  background-color: #fff;
  text-align: center;
  padding: 2% 0;
}

.sponsor-card {
  position: relative;
  display: inline-block;
  margin: 20px;
  transition: transform 0.3s;
  border-radius: 20px;
  /* Adjust the border-radius to round the corners slightly */
  overflow: hidden;
  /* Hide overflowing logos */
}

.sponsor-card:hover {
  transform: scale(1.1);
}

.circle {
  width: 150px;
  /* Adjust the width and height to create a circle */
  height: 150px;
  /* Adjust the width and height to create a circle */
  background-color: #876445;
  /* Background color for the circle */
  display: flex;
  justify-content: center;
  align-items: center;
}

.press-logo {
  width: 100px;
  /* Adjust the width of logos as needed */
  height: 100px;
  /* Adjust the height of logos as needed */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.sponsor-card:hover .overlay {
  opacity: 1;
}

#pricing {
  padding: 50px;
}

#pricing h2 {
  text-align: center;
  text-shadow: 2px 2px grey;
}

#pricing p {
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0deg);
  }

  .testimonial-image {
    width: 36rem;
    height: 20rem;
  }
}

@media (max-width: 768px) {
  .testimonial-image {
    width: 25rem;
    height: 15rem;
  }
}

@media (max-width: 991.5px) {
  @keyframes typing {
    from {
      width: 0;
    }

    to {
      width: 100%;
    }
  }
}

#cta {
  background-color: #ca965c;
  color: #fff;
  text-align: center;
  padding: 7% 15%;
}

.cta-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

#footer {
  padding: 2rem 4rem;
}
#footer a {
  color: #ca965c;
}
.social-media-icons {
  margin-top: 3rem;
}
.social-media-icons a:hover {
  color: #876445 !important;
}
.social-icon {
  margin: 20px 10px;
}
.copyright {
  color: #ca965c;
}

.card-image {
  width: 21rem;
  height: 18rem;
  margin: auto;
}

.payment {
  width: 50%;
}

.pay-text {
  color: #fff;
}

.logo {
  border-radius: 100%;
  mix-blend-mode: multiply;
  width: 150px;
  height: 150px;
}

.content-section {
  margin: 1em;
}

.container {
  margin: 0 auto;
  padding: 0 1.5em;
  text-align: center;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: 0.5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 5rem;
  height: 5rem;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #eb5757;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #cc4c4c;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56ccf2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  margin-top: 1.5rem;
  margin-right: 10px;
  text-align: start;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
}

.cart-total-price {
  color: black;
  font-size: 1.5rem;
  margin-right: 2rem;
  position: relative;
  top: -2rem;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}

/* Scroll To Top */
#backToTop {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #c07534;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
}

#backToTop:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}

/* #===========# contact #============# */

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
button,
input {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.background {
  /* display: flex; */
  margin-top: 50px;
}

.container1 {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #ca965c;
  border-radius: 15px;
}

.screen:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #343a40;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
  align-items: center;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ffffff;
  font-size: 34px;
}

/* .app-title:after {
content: "";
display: block;
position: absolute;
left: 0;
bottom: -10px;
width: 25px;
height: 4px;
background: #343a40;
} */

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group-buttons {
  margin-bottom: 0;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  /* text-transform: uppercase; */
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: transparent;
  border: 2px solid #666;
  padding: auto;
  border-radius: 8px;
  color: #f8f2f2;
  font-size: 14px;
  cursor: pointer;
  width: 100px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  position: relative;
}

.app-form-button:hover {
  background-color: #f8f2f2;
  color: #666;
  transform: translateY(-5px);
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.card-body {
  display: flex;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: rgba(46, 46, 46, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #876445;
  border-radius: 10px;
}
