html{
    scroll-behavior: smooth;
}
/* Title word animation */
.title-word{
    animation: color-animation 4s linear infinite;
}
/* Applying colors */
#title-word1{
  --color-1: #94582a;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}
#title-word2{
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
}
#title-word3{
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
}
#title-word4{
    --color-1: #3D8DAE;
    --color-2: #94582a;
    --color-3: #E4A9A8;
}
#title-word5{
    --color-1: #94582a;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
}
#title-word6{
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
}
#title-word7{
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
}
#title-word8{
    --color-1: #3D8DAE;
    --color-2: #94582a;
    --color-3: #E4A9A8;
}
/* Applying key framse */
@keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }
/* Applying typing out animation on paragraph */
.typed-out{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    animation: 
      typing 4s forwards;
    
    font-size: 1.6rem;
    width: 0;
  }
  /* Applying the keyframes */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
body{
    font-family: 'Montserrat';
}

#title{
    background-color: #CA965C;
    color: #fff;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bolder;
    
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}
h3{
    font-family: 'Montserrat';
    font-weight: 800;
}
hr{
    background-color: black;
    height: 1px;
}
p{
    color: #8f8f8f;
}
.container-fluid{
    padding: 3% 15% 8%;
}
/*Navbar */

.navbar{
    padding: 0 0 4.5rem ;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    
    padding: 0 18px;
    text-align: left;
}

.nav-link{
   
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: lighter;
}


/*Buttons*/
.download-button{
    margin: 5% 3% 5% 0;
}
#but:hover{
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}
#but1:hover{
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}
/*Title image*/
.title-image{
    width: 90%;
    position: absolute;
    left: 20%;  
}

/*Features*/
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;

    
    
}
.feature-box{
    text-align: center;
    padding: 2%;
    
    
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;

}
.icon:hover{
    color: #ff4c68;
}
/*testimonials*/
#testimonials{
    text-align: center;
    
    background-color: #876445;
    color: #fff;
}
.carousel-item{
    padding: 4% 8%;
}
.testimonial-image{
    width: 70rem;
    height: 33rem;
    
    margin: 20px;

}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 2%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing{
    padding: 100px;
}
#pricing h2{
    text-align: center;
    text-shadow: 2px 2px grey;
 }
 #pricing p{
    text-align: center;
 }
.pricing-column{
    padding: 3% 2%;
}

@media (max-width:1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0deg);
    }
    .testimonial-image{
        width: 36rem;
        height: 20rem;
    }
}
@media (max-width:768px){
    .testimonial-image{
        width: 25rem;
        height: 15rem;
    }
    
}


#cta{
    background-color: #CA965C;
    color: #fff;
    text-align: center;
    padding: 7% 15%;
}

.cta-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;

}
#footer{
    padding: 2rem 4rem;
}
#footer a{
    color: #CA965C;
}
.social-media-icons {
    margin-top: 1rem;
}
.social-media-icons a:hover {
    color: #876445 !important;
}
.social-icon{
    margin: 20px 10px;
}
.copyright {
    color: #CA965C;
}

.card-image{
    width: 21rem;
    height: 18rem;
    
}
.payment{
    width: 50%;
    
}
.pay-text{
    color: #fff;
}
.logo{
    border-radius: 80%;
}
.content-section {
    margin: 1em;
    
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 5rem;
    height: 5rem;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

/* Scroll To Top */
#backToTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #c07534; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
#backToTop:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }